    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <p>Angle Net &copy; 2015</p>
          {% include social.html %}
        </div>
      </div>
    </footer>
  </body>
<!--
<script>
$("script[type='math/tex']").replaceWith(
    function(){
        var tex = $(this).text();
        return "<span class=\"inline-equation\">" + 
            katex.renderToString(tex) +
            "</span>";
});
$("script[type='math/tex; mode=display']").replaceWith(
          function(){
            var tex = $(this).text();
            return "<div class=\"equation\">" + 
                katex.renderToString("\\displaystyle "+tex) +
                "</div>";
});
</script>
-->
</html>

